<div id="container" class="post-template tag-features">
   <article id="postMain" class="post tag-features">
      
      <section class="postContent">
         <h1 class="postTitle"><%= @post.name %></h1>
         <time class="dateStamp" datetime="2014-09-16">
         <span>&mdash;&ensp;</span>
         <i>Published 16 September 2014</i>
         <span>&ensp;&mdash;</span>
         </time>

         <p><%= @post.description.html_safe%></p>
      </section>
  



   </article>


<%- disqus_thread %>
<%= disqus_init %>
</div>



